.post-view-wrapper {
    width: 60%;
    margin: 0 auto;
  }

.foodimg {
    display: block; 
    margin: 0px auto;
}
  
  .post-view-row {
    margin: 10px 0;
    display: flex;
  }
  
  .post-view-row > label:first-child {
    margin: 10px 0;
    width: 30%;
    font-weight: bold;
  }
  
  .post-view-row > *:nth-child(2) {
    margin: 10px 0;
    width: 70%;
  }